.navbar {
  display: flex;
  justify-content: space-between;
  font-size: 150%;
  padding: 1%;
  background-color: rgb(172, 156, 137);
}

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
}

.presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 3px solid rgb(172, 156, 137);
  padding: 1%;
  width: 50%;
}

section {
  display: flex;
  justify-content: center;
  padding-top: calc(62px + 2%);
  padding-bottom: 2%;
  align-items: center;
  flex-direction: column;
}

body {
  background-color: rgb(234, 226, 214);
}

h2 {
  padding-bottom: 2%;
  padding-top: 1%;
  font-weight: 400;
  font-family: "Manrope", sans-serif;
}

a {
  text-align: center;
  padding-bottom: 1%;
  font-family: "Manrope", sans-serif;
  text-decoration: none;
  color: black;
  font-weight: 900;
}

p {
  text-align: center;
  padding-bottom: 1%;
  font-family: "Manrope", sans-serif;
}

a:hover {
  color: rgb(139, 139, 139);
}

.title {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
}

strong {
  font-weight: 700;
  margin-left: 8px;
}

.border {
  border-bottom: 1.5px solid rgb(172, 156, 137);
  width: 93%;
  padding: 2%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
  width: 93%;
  justify-content: space-between;
}

.ds {
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.ds img {
  width: 250px;
  height: 60%;
  object-fit: cover;
}

.ds p {
  font-weight: 700;
}

a:hover {
  scale: 105%;
}

.fixed-box {
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 20px;
}

.fixed-navbar {
  position: fixed;
  width: 100%;
}

.container {
  border-bottom: 1.5px solid rgb(172, 156, 137);
  width: 93%;
  padding: 2%;
}

.arrow > i {
  font-size: 30px;
}

.nosactus{
  display: flex;
  justify-content: center;
  font-weight: 900;
  font-family: "Manrope", sans-serif;
  padding-top: 2%;
}

.banner{
  display: flex;
  justify-content: center;
}

h3{
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  text-align: center;
}

.eve{
  padding-top: 3%;
  text-align: left;
  padding-left: 1%;
  padding-right: 0.5%;
}

